.example-section {
    margin: 12px 0;
  }
  .menu-button1 {

    display: flex;
    align-items: left;
    justify-content: flex-start;
    font-size: 1rem;    
}

.mat-card-image{
    width: 300px;
    height: 200px;
}