<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
</button>

 Por que estudiar Virtual es la mejor opción 
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

   <app-sidebar></app-sidebar>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">      
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>