<img class="avatar mat-elevation-z8" src="https://source.unsplash.com/1600x900/?nature,water" />  
    

<button mat-button class="menu-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="logout"  routerLinkActive="active">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="universidadesVirtuales" routerLinkActive="active" >
  <mat-icon>school</mat-icon>
  <span>Virtual univer.</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="cuestionario"  routerLinkActive="active" >
  <mat-icon>quiz</mat-icon>
  <span>Questions</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="directory"  routerLinkActive="active">
  <mat-icon>book_online</mat-icon>
  <span>Directory</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="sugerencias"routerLinkActive="active">
  <mat-icon>recommend</mat-icon>
  <span>Suggestion</span>
</button>
<br>
<button mat-button class="menu-button" routerLink="contactenos"  routerLinkActive="active">
  <mat-icon>contact_phone</mat-icon>
  <span>Contact</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
  <mat-icon>help</mat-icon>
  <span>Help</span>
</button>

<!-- <ul class="list-group" style="font-size: 14px; color: midnightblue;cursor:pointer" >
    <li routerLink="" class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home
    </li>
    <li routerLink="logout" class="list-group-item" routerLinkActive="active">Logout</li>
    <li routerLink="universidadesVirtuales" class="list-group-item" routerLinkActive="active">Universidades Virtuales
    </li>
    <li routerLink="cuestionario" class="list-group-item" routerLinkActive="active"  >Cuestionario</li>
    <li routerLink="directory" class="list-group-item" routerLinkActive="active">Directory</li>
    <li routerLink="sugerencias" class="list-group-item" routerLinkActive="active">Sugerencias</li>
    <li routerLink="contactenos" class="list-group-item" routerLinkActive="active">contactenos</li>

</ul> -->

